name: exploring variables and secrets

on:
  push
env:
  CONTAINER_REGISTRY: docker.io
jobs:
  deploy:
    #needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: Login to registry
        run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
      - name: Deploy to docker
        run: docker run -d -p 8080:80 ${{env.CONTAINER_REGISTRY}}/${{secrets.DOCKER_USERNAME}}/${{secrets.IMAGE_NAME}}:latest
