jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build image
        run: docker build -t ${{env.CONTAINER_REGISTRY}}/${{secrets.DOCKER_USERNAME}}/${{secrets.IMAGE_NAME}}:latest .
      - name: Login to registry
        run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
      - name: Push image
        run: docker push ${{env.CONTAINER_REGISTRY}}/${{secrets.DOCKER_USERNAME}}/${{secrets.IMAGE_NAME}}:latest

  deploy:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: Login to registry
        run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
      - name: Deploy to docker
        run: docker run -d -p 8080:80 ${{env.CONTAINER_REGISTRY}}/${{secrets.DOCKER_USERNAME}}/${{secrets.IMAGE_NAME}}:latest
