name: exploring variables and secrets

on:
  push
env:
  CONTAINER_REGISTRY: docker.io
  DOCKER_USERNAME: changeme
jobs:
  docker:
    runs-on: ubuntu-latest
    steps: 
    - name: docker build
      run:  docker build  -t ${{env.CONTAINER_REGISTRY}}/${{secrets.DOCKER_USERNAME}}/${{secrets.IMAGE_NAME}}:latest .
    - name: docker login
      run:  docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}

    - name: docker publish
      run:  docker push ${{env.CONTAINER_REGISTRY}}/${{secrets.DOCKER_USERNAME}}/${{secrets.IMAGE_NAME}}:latest
  deploy:
   # needs: docker
    runs-on: ubuntu-latest
    steps:
    - name: deploy to docker
      run: docker run -d -p 8080:80 ${{env.CONTAINER_REGISTRY}}/${{secrets.DOCKER_USERNAME}}/${{secrets.IMAGE_NAME}}:latest


#The below is the example for docker build but without using env or variables or secrets, which is not recommended for production use.
  # docker:
  # runs-on: ubuntu-latest
  # steps:
  #   - name: docker build
  #     run: docker build -t docker.io/dockerusername/imagename:latest 
  #     #the below is for login
  #   - name: docker login
  #     run: docker login --username=adithyabr14 --passowrd=Suvya@145
  #     #hello-world:nanoserver-ltsc2025
  #   - name: docker publish
  #     run: docker push docker.io/dockerusername/imagename:latest
  # deploy:
  #   needs: docker
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: deploy to docker
  #       run: docker run -d -p 8080:80 docker.io/dockerusername/imagename:latest
