name: my first workflow
on: 
  push:
    branches:
      - main
jobs:
  my-first-job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: say hello
        run: echo "Hello, world!"
